h4 {
    margin-top: 20px;
    padding: var(--PADDING);
}

h4 img {
    width: 20px;
    position: relative;
    padding-left: 4px;
    top: 4px;
    mix-blend-mode: difference;
    background-color: var(--BACKGROUND);
    filter: var(--BLACK-IMG-FILTER);
}

h4 a {
    font-weight: 100;
}
