ul {
    list-style-type: none;
}

h2 {
    overflow: hidden;
    padding: var(--PADDING);
}

h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

h2:after {
    left: 0.5em;
    margin-right: -100%;
}
