.h3 {
    color: var(--TEXT-SECONDARY);
    padding: var(--PADDING);
}

.ul {
    list-style-type: disc;
    margin-left: 30px;
}

.example {
    color: var(--TEXT-SECONDARY);
    margin: 0;
    padding: 0;
}

.example:after,
.example:before {
    content: '"';
}
