.outerdiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.innerdiv {
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.phonetic {
    color: var(--ACCENT);
    font-weight: bold;
    padding: 0px;
}

.play-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--INPUT-BACKGROUND);
    border-radius: 50%;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.play-button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 16px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid var(--PLAY-BUTTON-COLOR);
    opacity: 0.5;
}

.play-button:hover::before {
    opacity: 1;
}
