h5 {
    margin-top: 20px;
    padding: 10px;
}

h5 img {
    width: 20px;
    position: relative;
    padding-left: 4px;
    top: 4px;
    mix-blend-mode: difference;
    background-color: var(--BACKGROUND);
    filter: var(--BLACK-IMG-FILTER);
}
